@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}




.container {
    max-width: 90%;
}
.custom-navbar-logo img {
  max-height: 40px; /* Sesuaikan tinggi logo sesuai kebutuhan */
}
.custom-navbar .nav-link:hover {
  color: #000000;
  text-decoration: underline;
}

.input-email {
  padding: 14px;
  border-radius: 50px;
  border: 2px solid #fe9d02;
  background: #fff;
}
.text-black {
  color: #000000;
}
.font-weight-1 {
    font-weight: 700;
}
.font-weight-2 {
    font-weight: 600;
}
.pyc {
    padding: 0 2.5rem;
}

.text-undecoration {
    text-decoration: none;
}
.form-control {
  display: block;
  width: 100%;
  min-height: calc(1.5em + .75rem + 2px);
  padding: .575rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 52px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.border-rad{

  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;

  color: #fff;
  background-color: #f9a826;
  border-color: #f9a826;
}

.pagination-circle .page-item {
  display: inline-block;
  margin-right: 8px;
}

.pagination-circle .page-link {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}